= render 'shared/left_contents'

.right_contents
  .right_contents__top
    .right_contents__top__group
      グループ名
    = link_to "Edit", "/", class:"right_contents__top__edit"
    .right_contents__top__members
      Member：仮のメンバー
  .right_contents__messages
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
  .right_contents__input
    %form{:action => "/"}
      %input.right_contents__input__text{type:"text",name:"message", placeholder:"type a message"}
      .mask
        %label
          %input.right_contents__input__file{type:"file"}
          %i.fa.fa-picture-o{style:"font-size: 20px;"}
      %input.right_contents__input__submit{type:"submit", value:"Send"}
