.left_contents
  .left_contents__top
    .left_contents__top__user ユーザー名
    .left_contents__top__icons
      %a.fa.fa-pencil-square-o{href:"#{}"}
      %a.fa.fa-cog{href:"#{}"}
  .left_contents__group グループ1
  .left_contents__group--recent_comment 最新のコメント
  .left_contents__group グループ2
  .left_contents__group--recent_comment 最新のコメント

.right_contents
  .right_contents__top
    .right_contents__top__group
      グループ名
    %a.right_contents__top__edit{href:"#{}"}
      Edit
    .right_contents__top__members
      Member：仮のメンバー
  .right_contents__messages
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
    .message
      .message__user
        ユーザー名
      .message__date
        2017/10/02 06:31
      .message__content
        aaa
  .right_contents__input
    %form{:action => "/", :method => "post"}
      %input{name:"message", size:"100", placeholder:"type a message"}

