.left_contents
  .left_contents__top ユーザー名
  .left_contents__group グループ1
  .left_contents__group--recent_comment 最新のコメント
  .left_contents__group グループ2
  .left_contents__group--recent_comment 最新のコメント

.right_contents
  .right_contents__top
  .right_contents__messages
  .right_contents__input
