.left_contents
  .left_contents__top
    .left_contents__top__user ユーザー名
    .left_contents__top__icons
      %a.fa.fa-pencil-square-o{href:"#{}"}
      %a.fa.fa-cog{href:"#{}"}
  .left_contents__group グループ1
  .left_contents__group--recent_comment 最新のコメント
  .left_contents__group グループ2
  .left_contents__group--recent_comment 最新のコメント

.right_contents
  .right_contents__top
    .right_contents__top__group
      グループ名
    .right_contents__top__edit
      編集ボタン
  .right_contents__messages メッセージ
  .right_contents__input 入力
