.chat-group-form
  %h1 新規チャットグループ
  - if @group.errors.any?
    .alert.alert-danger{id:"error_explanation", class:"chat-group-form__errors"}
      %h2
        = "#{@group.errors.count}件のエラーが発生しました"
      %ul
        - @group.errors.full_messages.each do |message|
          %li
            = message
  = render 'group_form', group: @group
