.right_contents {
  width: calc(100vw - 300px);
  float: left;
  background-color: #FAFAFA;

  &__top {
    height: 100px;
    background-color: white;
    padding: 0 40px;
    font-size: 20px;
    color: #333333;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 6px;

    &__group {
    display: flex;
    align-items: center;
    float: left;
    padding-top: 35px;
    }

    &__edit {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 28px;
    text-decoration: none;
    height: 40px;
    border: 1px solid #38AEF0;
    padding: 0 20px;
    font-size: 16px;
    color: #38AEF0;
    }

    &__members {
      clear: both;
      font-size: 12px;
      color: #999999;
      padding-top: 15px;
    }
  }

  &__messages {
    height: 600px;
    background-color: #FAFAFA;
    padding: 0 40px;
    font-size: 14px;
    color: #434A54;
  }

  &__input {
    height: 100px;
    background-color: #DDDDDD;
    padding: 0 40px;

    input[type="text"] {
      height: 50px;
      margin: 20px 0;
      width: calc(100% - 150px);
      border-style: none;
      text-indent: 10px;
    }

    input[type="file"] {
      width: 30px;
    }

    input[type="submit"] {
    width:  100px;
    height: 50px;
    background-color: #38AEF0;
    color: #fff;
    border-style: none;
    }
  }
}

.message {
  padding-top: 40px;
  color: #434A54;

  &__user {
    float: left;
    font-size: 16px;
    font-weight: bold;
  }

  &__date {
    float: left;
    padding-left: 10px;
    font-size: 12px;
    color: #999999;

  }

  &__content {
    clear: both;
    font-size: 14px;
  }
}
